{% extends 'base.html' %}

{% load static %}

{% block title %}
NOBERO | Home
{% endblock title %}

{% block content %}


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/banner5.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static  'images/Bnner2.png' %}"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static  'images/banner3.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev"  data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span  aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span  aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>



<div class="container" style="padding:60px;">
  <div class="row">
      <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/MEN-JOGGERS-570X630_720x.jpg' %}" 
          style="width:100%;height:600px;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-3">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/mens cord.avif' %} " 
          style="width:100%;height:275px;border:1px solid transparent;transition:1s;"></a>
        </div>
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/couple.avif' %} " 
          style="width:100%;height:275px;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/WOMENS-JOGGERS---270-X-630_360x.webp' %}" 
          style="width:90%;height:600px;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>

<h2 class="Pshop">SHOP BY CATEGORY</h2>

<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/HOODIE-SALE_720x.webp' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/TRAVEL-HOODIE_720x.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/MENS-JOGGERS C3.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/WOMENS-JOGGERS C4.webp' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/mens-co-ords C5.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/MENS-SHORTS_C6.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/CAMO-STORE_C7.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/COMBO-STORE_C8.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/WOMENS-COORDS_C9.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"></a>
        </div>
      </div>
       <div class="col-md-6">
        <div class="cours2" style="overflow:hidden;">
          <a href=""><img class="hover" src="{% static 'images/WOMENS-SHORTS_C9.jpg' %}" 
          style="width:100%;height:100%;border:1px solid transparent;transition:1s;"> </a>
        </div>
      </div>
  </div>
</div>









<div class="trend">
  <h2>TRENDING</h2>
  <h6>Top view in this week</h6>
</div>


<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/womenj1.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/womenj2.webp' %}" alt="">
    </a>
    <a href="">Q-Rious </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 799 </h6>
      <p style="color:red ; text-align: center;">(41% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/womenj3.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/women j4.webp' %}" alt="">
    </a>
    <a href="">RiRi Jogger</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1599 </h6>
      <p style="color:red ; text-align: center;">(39% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/women j8.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/women j9.webp' %}" alt="">
    </a>
    <a href="">Tregga Jogger </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1499 </h6>
      <p style="color:red ; text-align: center;">(26% OFF)</p> 
    </div>
  </div>
</section>

<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/jogger1.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/jogger2.webp' %}" alt="">
    </a>
    <a href="">Cultsport</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1819 </h6>
      <p style="color:red ; text-align: center;">(35% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/jogger3.jpg' %}" alt="">
      <img class="ttopimg" src="{% static 'images/jogger4.jpg' %}" alt="">
    </a>
    <a href="">Ketch</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1039 </h6>
      <p style="color:red ; text-align: center;">(54% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/jogger5.jpeg' %}" alt="">
      <img class="ttopimg" src="{% static 'images/jogger6.jpeg' %}" alt="">
    </a>
    <a href="">Highlander </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1151 </h6>
      <p style="color:red ; text-align: center;">(52% OFF)</p> 
    </div>
  </div>
</section>

<div class="load">
 <button >Load More</button>
</div>

<div class="trend">
  <h2>----- BEST SELLER -----</h2>
  <h6>Top sale in this week</h6>
</div>


<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/pant j3.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/pantj4.webp' %}" alt="">
    </a>
    <a href="">Urban</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1819 </h6>
      <p style="color:red ; text-align: center;">(35% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/pantj5.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/pantj6.webp' %}" alt="">
    </a>
    <a href="">Scarlett </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1039 </h6>
      <p style="color:red ; text-align: center;">(54% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/pantj7.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/pantj8.webp' %}" alt="">
    </a>
    <a href="">Wander Soul </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1151 </h6>
      <p style="color:red ; text-align: center;">(52% OFF)</p> 
    </div>
  </div>
</section>

<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/hoodi j1.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/hoodi j2.webp' %}" alt="">
    </a>
    <a href="">Assassins</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1819 </h6>
      <p style="color:red ; text-align: center;">(35% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/hoodi j3.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/hoodij4.webp' %}" alt="">
    </a>
    <a href="">Wanderer </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1039 </h6>
      <p style="color:red ; text-align: center;">(54% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/hoodij5.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/hoodi j6.webp' %}" alt="">
    </a>
    <a href="">Classic Zipper </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1151 </h6>
      <p style="color:red ; text-align: center;">(52% OFF)</p> 
    </div>
  </div>
</section>

<div class="viewm" >
 <button >  View More</button>
</div>

<div class="trend">
  <h2>----- New Arrivals -----</h2>
</div>

<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/lastj1.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/last j2.webp' %}" alt="">
    </a>
    <a href="">Intrigued</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1819 </h6>
      <p style="color:red ; text-align: center;">(35% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/lastj3.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/last4.webp' %}" alt="">
    </a>
    <a href="">Allergic </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1039 </h6>
      <p style="color:red ; text-align: center;">(54% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/pantj7.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/pantj8.webp' %}' " alt="">
    </a>
    <a href="">Classic Crew </a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1151 </h6>
      <p style="color:red ; text-align: center;">(52% OFF)</p> 
    </div>
  </div>
</section>

<section class="container1">
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/short3.webp' %} " alt="">
      <img class="ttopimg" src="{% static 'images/short4.webp' %} " alt="">
    </a>
    <a href="">Brute Shorts</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1819 </h6>
      <p style="color:red ; text-align: center;">(35% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/short5.webp' %} " alt="">
      <img class="ttopimg" src="{% static 'images/short6.webp' %}" alt="">
    </a>
    <a href="">Tyson Shorts</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1039 </h6>
      <p style="color:red ; text-align: center;">(54% OFF)</p> 
    </div>
  </div>
  <div class="tcontainer">
    <a href="">
      <img src="{% static 'images/short7.webp' %}" alt="">
      <img class="ttopimg" src="{% static 'images/short8.webp' %}" alt="">
    </a>
    <a href="">Bryant Shorts</a>
    <div class="rate">
      <h6 style="text-align:center;">₹ 1151 </h6>
      <p style="color:red ; text-align: center;">(52% OFF)</p> 
    </div>
  </div>
</section>

<div class="viewm">
 <button >  View More</button>
</div>

<section >
  <div class="fetures">
    <div class="f2">
        <div class="imm">
          <i class="fa-solid fa-car"></i>
        </div>
        <div>
          <h4>FREE SHIPPING</h4>
          <h6>Free Shipping On All Orders</h6>
        </div>
    </div>
    <div class="f2">
      <div class="imm">
        <i class="fa-regular fa-circle"></i>
      </div>
      <div>
        <h4>SUPPORT</h4>
        <h6>Mon-Sat 10AM to 7PM</h6>
      </div>
    </div>
    <div class="f2">
      <div class="imm">
        <i class="fa-solid fa-arrow-rotate-right" ></i>
      </div>
      <div>
        <h4>15 DAYS RETURN</h4>
        <h6>Simply return it within 15 days</h6>
      </div>
    </div>
    <div class="f2">
      <div class="imm">
        <i class="fa-solid fa-unlock-keyhole"></i>
      </div>
      <div>
        <h4>100% SECURE PAYMENTS</h4>
        <h6>AES-256bit Secure Payments</h6>
     </div>
    </div>
  </div>
</section>


{% endblock content %}