{% extends 'base.html' %}
{% load static %}
{% block title %}NOBERO | Category Name{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static './categories.css' %}">
{% endblock style %}
{% block content %}

<section>
    <div class="hoodietop">
        <h3>Hoodie Sale</h3>
    </div>
</section>


<div class="container">
    <div class="row">
        {% for vi in product %}
        <div class="col-lg-4 col-6 ">
          
            <a class="aa" href="{% url 'product' vi.pk %}">

            <div class="">
              
                
                <img class="img-fluid" src="{{vi.image.url}}" alt="">
                <h5>{{vi.title}}</h5>
                <h5>₹ {{vi.price}} ₹ {{vi.discount}} <span id="red">(53% OFF)</span></h5>
            
            </div></a>
        </div>
        {% endfor %}
      
    </div>
</div>

{% endblock content %}

